
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}WebDev-Vysočina{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
        <h3 class="muted">{% block heading %}WebDev Vysočina{% endblock %}</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Setkání webových vývojářů z Vysočiny</h1>
        <p class="lead">Zveme Vás na neformální mini konferenci, na které se můžete potkat s kolegy z vašeho oboru a dozvědět se i praktické informace.</p>
        <a class="btn btn-large btn-success" href="#">Připravujeme ...</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>HTML 5 </h4>
          <p>nové značky a jejich význam / použití</p>

          <h4>AngularJS vs jQuery</h4>
          <p>Kde jQuery není efektivní používat a kde je naopak zbytečný AngularJS</p>

          <h4>Stromové struktury v databázích</h4>
          <p>Nabídneme vám praktické ukázky a srovnání různých přístupů</p>
          
          <h4>Axure</h4>
          <p>prototypování web aplikací</p>
          
          <h4>PostgreSQL</h4>
          <p>novinky ve verzi 9.x (Foreign data wrappers, ...)</p>
        </div>

        <div class="span6">
          <h4>LESS, Grunt, Zend Coding</h4>
          <p>Aneb jak si programátor/kodér může ulehčit práci</p>

          <h4>PHP frameworky</h4>
          <p>Zend, Nette, Symfony? Jaké mají výhody. Co používáte vy a proč?</p>

          <h4>Nginx</h4>
          <p>Výkonná alternativa Apache.</p>
          
          <h4>PostgreSQL</h4>
          <p>Administrace (ochrana dat, analýza logů)</p>
          
          <h4>PostgreSQL + Node.js + socket.io</h4>
          <p>kombinace moderních nástrojů</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; WebDev Vysočina 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    

  </body>
</html>
